<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoSharing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VideoSharing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.People, "People", "User", new { searchString = "", sortOrder = "", filterValue = "" }, null).If(!User.IsInRole("admin"))</li>
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.Tables, "PeopleTable", "User", new { searchString = "", sortOrder = "", filterValue = "" }, null).If(User.IsInRole("admin")) </li>
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.Friends, "Friends", "User")</li>
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.Feed, "AddPost", "Post")</li>
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.Account, "AccountRedirect", "User",null,null)</li>
                </ul>
                @Html.Partial("_LoginPartial")


              <div class="nav navbar-nav navbar-right navbar-form">
                  <form id="form_control" role="search" method="get" action="#" asp-controller="User" asp-action="People">
                      <div>
                          <input type="text" placeholder=@VideoSharing.Resources.Global.Search name="SearchString" />

                      </div>
                      </form>

</div>
                                
             
                    @Html.Partial("Change")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.About, "About", "Home")</li>
                    <li>@Html.ActionLink(VideoSharing.Resources.Global.PrivacyPolicy, "PrivacyPolicy", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
