@model VideoSharing.Models.PasswordResertModel
@{
    ViewBag.Title = @VideoSharing.Resources.Global.ResetPassword;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@VideoSharing.Resources.Global.ResetPassword</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)

    <div class="editor-label">
        @VideoSharing.Resources.Global.Email
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @VideoSharing.Resources.Global.Password
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @VideoSharing.Resources.Global.PasswordConfirm
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PasswordConfirm)
        @Html.ValidationMessageFor(model => model.PasswordConfirm)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
