@model IEnumerable<VideoSharing.Models.PostModel>

@{
    ViewBag.Title = @VideoSharing.Resources.Global.Posts;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TablePartial")

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("PostsTable", "Post", FormMethod.Get))
{
    @Html.TextBox("SearchString", ViewBag.FilterValue as string)
    <input type="submit" value="Search" />
}

<table class="user_table">
    <tr>
        <th>
            @Html.ActionLink(@VideoSharing.Resources.Global.Description, "PostsTable", new { sortOrder = ViewBag.DescriptionSortParam, filterValue = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink(@VideoSharing.Resources.Global.Date, "PostsTable", new { sortOrder = ViewBag.DateSortParam, filterValue = ViewBag.FilterValue })

        <th>
            @Html.ActionLink(@VideoSharing.Resources.Global.UserName, "PostsTable", new { sortOrder = ViewBag.UserNameSortParam, filterValue = ViewBag.FilterValue })
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>              
                @Html.ActionLink(item.User.FullName, "Account", "User", new { id = item.User.Id },null)
            </td>
                <td>
                    @Html.ActionLink(VideoSharing.Resources.Global.Edit, "EditPost", "Post", new { id = item.Id }, null)
                </td>

                <td>
                    @Html.ActionLink(VideoSharing.Resources.Global.Delete, "Delete", "Post", new { id = item.Id }, null)
                </td>
            

        </tr>
    }

</table>